<?xml version="1.0" encoding="UTF-8"?>
<configuration debug="false">

    <include resource="org/springframework/boot/logging/logback/defaults.xml"/>
    <include resource="org/springframework/boot/logging/logback/console-appender.xml"/>
    ​
    <property name="LOG_PATTERN" value="%clr(%d{yyyy-MM-dd HH:mm:ss}){faint} %clr(${LOG_LEVEL_PATTERN:-%5p}) %clr(${PID:- }){magenta} %clr(---){faint} %clr([%15.15t]){faint} %clr(%-40.40logger{39}){cyan} %clr(:){faint} %clr(%X{userEmail}){faint} %clr(:){faint} %m%n${LOG_EXCEPTION_CONVERSION_WORD:-%wEx}"/>
    <springProperty scope="context" name="springAppName" source="spring.application.name"/>
    <springProperty name="logstash-uri" source="logstash.uri"/>
    <springProperty name="build-version" source="build.version"/>

    <!-- Appender to send logs to Logstash -->
    <appender name="logstash" class="net.logstash.logback.appender.LogstashTcpSocketAppender">
        <destination>${logstash-uri}</destination>

        <!--<encoder class="net.logstash.logback.encoder.LogstashEncoder" />-->r
        <encoder class="net.logstash.logback.encoder.LoggingEventCompositeJsonEncoder">
            <providers>
                <timestamp>
                    <timeZone>UTC</timeZone>
                </timestamp>
                <pattern>
                    <pattern>
                        {
                        "level": "%level",
                        "serviceID": "${springAppName:-}",
                        "trace": "%X{X-B3-TraceId:-}",
                        "span": "%X{X-B3-SpanId:-}",
                        "exportable": "%X{X-Span-Export:-}",
                        "pid": "${PID:-}",
                        "thread": "%thread",
                        "class": "%logger{40}",
                        "version": "${build-version:-}",
                        "bpId": "%X{bpId}",
                        "bpType": "%X{bpType}",
                        "bpStatus": "%X{bpStatus}",
                        "activity": "%X{activity}",
                        "bpInitCompanyId": "%X{bpInitCompanyId}",
                        "bpInitUserId": "%X{bpInitUserId}",
                        "bpRespondCompanyId": "%X{bpRespondCompanyId}",
                        "message": "%message",
                        "exception": "%exception"
                        }
                    </pattern>
                </pattern>
            </providers>
        </encoder>
    </appender>

    <appender name="console" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>${LOG_PATTERN}</pattern>
        </encoder>
    </appender>

    <logger name="eu.nimble.service.bp" level="DEBUG"/>
    <logger name="eu.nimble.utility" level="INFO"/>

    <root level="INFO">
        <appender-ref ref="logstash"/>
        <appender-ref ref="console"/>
    </root>

    <logger name="org.springframework.cloud.config.client" level="warn"/>
    <logger name="com.netflix.discovery.shared.resolver.aws" level="warn"/>
    <logger name="com.netflix.discovery.DiscoveryClient" level="warn"/>
</configuration>